@import url('https://fonts.googleapis.com/css?family=Lato');

/* global styles */
*{
    box-sizing: border-box;
}
body{
    background: #ffefea;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    margin: 0;
}
.heading{
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
}
/*end of global styles */


/* text box css */
h1{
    text-align: center;
    margin-top: 0.4rem;
}
.h3_voice{
    color: #ffffff;
    text-align: start;
    margin-top: 0;
}
.container{
    margin: auto;
    padding: 20px;
}
.btn{
    cursor: pointer;
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    padding: 8px;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus, select:focus{
    outline: 0;
}
.btn-toggle{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
#text{
    margin-top: 0rem;
}
.subheading{
    margin-top: 1rem;
    color: #ffffff;
    text-align: start;
}
.text-box{
    width: 70%;
    margin: 1rem auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
    box-shadow: 3px 6px 18px #000000;
}
.h1{
    color: #333945;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    max-width: 70rem;
    margin: 0 auto;
}
.text-box.show{
    transform: translate(-50%, -20%);
}
.text-box select{
    background-color: darksalmon;
    border: 0;
    color: #fff;
    font-size: 12px;
    height: 30px;
    width: 100%;
}
.fa-smile{
    color: yellow;
}
h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;

}
h4{
    margin-top: 0;
    text-align: center;
    margin-bottom: 0.5rem;
}
.text-box textarea{
    border: 1px #dadada solid;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    margin: 15px 0;
    width: 100%;
    height: 150px;
}
.text-box .btn{
    display: block;
    margin: 0 auto;
    width: 30%;
}
.text-box .close{
    float: right;
    text-align: center;
    cursor: pointer;
}
.fa-window-close{
    font-size: 2rem;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.box{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
}
.box.active{
    box-shadow: 0 0 10px 5px darksalmon;
}
.box img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.box .info{
    background-color: darksalmon;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    text-align: center;
    height: 100%;
}
/*end of text box css */

/* input section */
form{
    text-align: center;
    margin-top: 32px;
}
label{
    display: block;
    font-size: 24px;
    font-weight: bolder;
    text-transform: capitalize;
}
input{
    margin-top: 5px;
    width: 40%;
    font-size: 1.5rem;
}
.input_btn{
    font-size: 1.5rem;
    background-color: darksalmon;

}
/*end of input section */


/*Description css  */
.desc_btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    padding: 8px;
}
.desc_btn:active{
    transform: scale(0.98);
}
.desc_btn:focus{
    outline: 0;
}
.desc{
    max-width: 60%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #2F363F;
    border-radius: 1rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -2000px);
    transition: all 0.7s ease-in-out;
}
.desc.show{
    transform: translate(-50%, -10%);
}

.desc_close_div{
    text-align: right;
    width: 100%;
    position: relative;
}
.desc-close{
    display: block;
    padding: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.desc .fa-window-close{
    font-size: 1.5rem;
}
h3{
    text-align: center;
    margin-bottom: 0;
    color: #2F363F;
}
.box1, .box2{
    width: 65%;
    margin: 0.2rem auto;
    border-radius: 1rem;
    background-color: darksalmon;
    color: #ffffff;
    padding: 0 1rem;
    padding-bottom: 0.4rem;
}
.box1 p, .box2 p{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}
/* end of Description css  */

/* media queries */
@media(max-width: 1100px){
    main{
        grid-template-columns: repeat(3, 1fr);
    }
    .desc{
        min-width: 90%;
    }
    .box1, .box2{
        min-width: 90%;
        margin-bottom: 0.5rem;
    }
}
@media(max-width: 760px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
    .text-box{
        min-width: 100%;
    }
    .desc{
        min-width: 90%;
    }
    .box1, .box2{
        min-width: 90%;
        margin-bottom: 0.5rem;
    }
    .desc_btn{
        position: absolute;
        top: 5rem;
    }
}
@media(max-width: 500px){
    main{
        grid-template-columns: 1fr;
    }
    .heading{
        margin-top: 5rem;
    }
    .desc{
        min-width: 90%;
    }
    .box1{
        margin-top: 1rem;
    }
    .box1, .box2{
        min-width: 90%;
        margin-bottom: 0.5rem;
    }
    .box1 p, .box2 p{
        font-size: 1.2rem;
    }
    .desc_btn{
        position: absolute;
        left: 33%;
        top: 9rem;
    }
}
/*end of media queries */








